<!--<li><a href="{{ url_for('search')}}"><span class="glyphicon glyphicon-question-sign"></span> Search Vaccine Status</a></li>
					<li><a href="{{ url_for('alumni') }}"><span class="glyphicon glyphicon-user"></span> Adoption Centre Details</a></li>
					<li><a href="{{ url_for('update_experience') }}"><span class="glyphicon glyphicon-user"></span> Add Animal To List</a></li>
					<li><a href="{{ url_for('update_animal_single') }}"><span class="glyphicon glyphicon-earphone"></span> Update Single Animal</a></li>
					<li><a href="{{ url_for('delete_animal') }}"><span class="glyphicon glyphicon-earphone"></span> Delete Single Animal</a></li>
				-->

                <a href="{{ url_for('dao_page', name=details[0]) }}"></a>